.login{
    height: 85vh;
    background-image: url(../images/bg2.jpg);
    
    /* background-image: url(../images/background.jpg); */
   
    background-size: cover;
    background-position: center bottom; 
  background-repeat: no-repeat;
  border-radius: 20px;
  
}
.formLogin{
    padding: 30px;
    background-color: white;
    border-radius: 15px;
}

.formLogin >button {
    background-color: #3dbdec !important ;
    border: none !important;
}
.linkk{
    text-align: end;
    margin-top: 20px;
    font-weight: 600;
}
label{
    font-weight: 500;
}